In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (9.2.0)

In [2]:
import mysql.connector as connector

In [8]:
connection = connector.connect(user="littlelemonuser", password="db_cap@7535")

In [11]:
import mysql.connector as connector


connection = connector.connect(
    user='littlelemonuser',
    password='db_cap@7535',
    database='littlelemondm'
)

cursor = connection.cursor()

create_bookings_table_query = """
CREATE TABLE IF NOT EXISTS Bookings (
    BookingID INT PRIMARY KEY,
    CustomerID INT,
    TableNumber INT,
    BookingDate DATE
);
"""

cursor.execute(create_bookings_table_query)

connection.commit()
cursor.close()
connection.close()

print("Bookings table created successfully.")

Bookings table created successfully.

In [12]:
import mysql.connector as connector

def connect_db():
    return connector.connect(
        user='littlelemonuser',
        password='db_cap@7535',
        database='littlelemondm'
    )

# 1. Function to insert a new booking
def add_booking(booking_id, customer_id, table_number, booking_date):
    connection = connect_db()
    cursor = connection.cursor()
    insert_query = """
    INSERT INTO Bookings (BookingID, CustomerID, TableNumber, BookingDate)
    VALUES (%s, %s, %s, %s)
    """
    cursor.execute(insert_query, (booking_id, customer_id, table_number, booking_date))
    connection.commit()
    cursor.close()
    connection.close()
    print("Booking added successfully.")

# 2. Function to view all bookings
def view_bookings():
    connection = connect_db()
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM Bookings")
    results = cursor.fetchall()
    cursor.close()
    connection.close()
    return results

# 3. Function to find booking by customer ID
def find_booking_by_customer(customer_id):
    connection = connect_db()
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM Bookings WHERE CustomerID = %s", (customer_id,))
    result = cursor.fetchall()
    cursor.close()
    connection.close()
    return result

In [14]:
print(view_bookings())

[(1, datetime.date(2025, 4, 10), 5, 1), (2, datetime.date(2025, 4, 11), 2, 2), (3, datetime.date(2022, 12, 5), 3, 3), (5, datetime.date(2022, 10, 10), 5, 4), (6, datetime.date(2022, 10, 15), 5, 4), (7, datetime.date(2022, 12, 2), 3, 2)]